@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Rubik:wght@400;500;700&display=swap');

body {
    overflow-x: hidden;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}